<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--    <filter>
        <filter-name>UserAuthorizationFilter</filter-name>
        <filter-class>Filter.UserAuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListServlet</servlet-name>
        <servlet-class>controller.BlogListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>controller.CourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetpasswordServlet</servlet-name>
        <servlet-class>controller.ResetpasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCourseNameServlet</servlet-name>
        <servlet-class>controller.SearchCourseNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>controller.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submit</servlet-name>
        <servlet-class>controller.submit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandlerServlet</servlet-name>
        <servlet-class>ErrorHandler.ErrorHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAnswerServlet</servlet-name>
        <servlet-class>controller.UserAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoreExamServlet</servlet-name>
        <servlet-class>controller.ScoreExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExitExamServlet</servlet-name>
        <servlet-class>controller.ExitExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExitServlet</servlet-name>
        <servlet-class>controller.ExitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmindashboardServlet</servlet-name>
        <servlet-class>controller.AdmindashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerDashBoardServlet</servlet-name>
        <servlet-class>SellerDashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerdashboardServlet</servlet-name>
        <servlet-class>controller.SellerdashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>controller.UserDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserlistServlet</servlet-name>
        <servlet-class>controller.UserlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mktDashboardServlet</servlet-name>
        <servlet-class>controller.mktDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostServlet</servlet-name>
        <servlet-class>controller.EditPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectList</servlet-name>
        <servlet-class>controller.SubjectList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinQuizServlet</servlet-name>
        <servlet-class>controller.JoinQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizReviewServlet</servlet-name>
        <servlet-class>controller.QuizReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortCourseCategory</servlet-name>
        <servlet-class>controller.SortCourseCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizLessonServlet</servlet-name>
        <servlet-class>controller.QuizLessonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListServlet</servlet-name>
        <url-pattern>/bloglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetpasswordServlet</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCourseNameServlet</servlet-name>
        <url-pattern>/SearchCourseName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submit</servlet-name>
        <url-pattern>/submit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandlerServlet</servlet-name>
        <url-pattern>/errorhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAnswerServlet</servlet-name>
        <url-pattern>/useranswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScoreExamServlet</servlet-name>
        <url-pattern>/score</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExitExamServlet</servlet-name>
        <url-pattern>/exitexam</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/notfoundAlert.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/forbiddenAlert.jsp</location>
    </error-page>
    <error-page>
        <exception-type>
            javax.servlet.ServletException
        </exception-type>
        <location>/ErrorHandler</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>AdmindashboardServlet</servlet-name>
        <url-pattern>/AdmindashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerDashBoardServlet</servlet-name>
        <url-pattern>/SellerDashBoardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerdashboardServlet</servlet-name>
        <url-pattern>/SellerdashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/UserDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserlistServlet</servlet-name>
        <url-pattern>/UserlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mktDashboardServlet</servlet-name>
        <url-pattern>/mktDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExitServlet</servlet-name>
        <url-pattern>/exit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostServlet</servlet-name>
        <url-pattern>/editpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectList</servlet-name>
        <url-pattern>/sublist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinQuizServlet</servlet-name>
        <url-pattern>/joinquiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizReviewServlet</servlet-name>
        <url-pattern>/quizreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortCourseCategory</servlet-name>
        <url-pattern>/SortCourseCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizLessonServlet</servlet-name>
        <url-pattern>/quizlesson</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
