
body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 50px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container h3 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #3ab54a; /* Màu xanh lá cây */
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #399b40; /* Màu xanh lá cây nh?t khi hover */
}

.text-center {
    text-align: center;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
