/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 24, 2023, 9:57:11 PM
    Author     : dell
*/
.img-fluid {
  width: 50%;
  height: auto;
}
