/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : May 23, 2023, 10:23:44 PM
    Author     : quang
*/
.footer{

    bottom: 0;
    left: 0;
    right: 0;
}
