/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 24, 2023, 10:06:20 PM
    Author     : dell
*/

.custom-prev-icon {
    color: green;
    background: green
}

.custom-next-icon{
    color: green;
    background: green
}