/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jun 19, 2023, 8:04:44 PM
    Author     : DAT
*/

  .search-bar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #f5f5f5;
                padding: 10px;
                border-radius: 5px;
            }

            form {
                display: flex;
                align-items: center;
            }

            input[type="text"] {
                border: none;
                outline: none;
                padding: 8px;
                border-radius: 5px;
                font-size: 16px;
            }



            .filterss {
                display: flex;
                align-items: center;
                margin-left: 10px;
            }

            selects {
                border: none;
                outline: none;
                padding: 8px;
                border-radius: 5px;
                font-size: 16px;
                margin-left: 10px;
            }

            .add-subject {
                background-color: #008000; /* màu vàng */
                color: #fff;
                border: none;
                outline: none;
                padding: 8px 12px;
                border-radius: 5px;
                cursor: pointer;
                align-items: center;
                justify-content: space-between;
            }

            button[type="submit"] {
                background-color: #008000; /* màu vàng */
                color: #fff;
                border: none;
                outline: none;
                padding: 8px 12px;
                border-radius: 5px;
                margin-left: 10px;
                cursor: pointer;
            }
            .card-courses-list{
              
                display: flex;
                border-bottom: 1px solid rgba(0,0,0,0.1);
                                padding:0 40px;
                padding-bottom: 30px;
                margin-bottom: 30px;
            }
            .card-courses-list:last-child{
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            .card-courses-media{
                width: 250px;
                min-width: 250px;
                height: 250px;
                margin-right: 30px;
                border-radius: 4px;
                overflow: hidden;
            }
            .card-courses-media img{
                width: 100%;
                object-fit:cover;
                height: 250px;
            }
            .card-courses-view{
                margin:0;
                padding:0;
                list-style:none;
                display: flex;
                align-items: center;
                width: 100%;
            }
            .card-courses-user{
                display:flex;
                align-items:center;
            }
            .card-courses-user-pic{
                width: 50px;
                height: 50px;
                border-radius: 50px;
                overflow: hidden;
                margin-right: 10px;
            }
            .card-courses-view > li{
                position:relative;
                padding-right:30px;
            }
            .card-courses-view > li:last-child{
                padding-right:0;
            }
            .card-courses-stats h5,
            .card-courses-price del,
            .card-courses-review h5,
            .card-courses-categories h5,
            .card-courses-user-info h5{
                font-size: 12px;
                color: #C0C0C0;
                margin: 0;
                line-height: 18px;
            }
            .card-courses-categories h4,
            .card-courses-user-info h4{
                font-size: 14px;
                margin: 0;
                line-height: 22px;
                color: #606060;
                text-transform: uppercase;
            }
            .card-courses-price{
                margin-left:auto;
            }
            .card-courses-list-bx{
                margin-bottom:20px;
            }
            .card-courses-dec p{
                font-size:14px;
                line-height:22px;
            }
            .card-courses-dec-list{
                margin:0;
                padding:0;
                list-style:none;
            }
            .card-courses-dec-list li{
                display: flex;
                font-size: 14px;
                color: #606060;
                padding-bottom: 10px;
                width: 50%;
                float: left;
            }

            .card-courses-dec-list li strong{
                margin-right:10px;
                color:#000;
                width: 40%;
            }